*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.small-sidebar .sidebar{
    /* display: none; */
    /* margin-left: 10px; */
    /* position: relative; */
}

/* carousel slider */

.carousel-item img{
    width: 100%;
    height: 420px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}